body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f7fa; /* Светлый фон, как в Any.do */
    font-size: 16px; /* Увеличиваем базовый размер шрифта */
    color: #333333;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}